h1 {
    font-size: 2em;
    color: #333;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 8%;
    top: 1%;
}

#logo {
    position: absolute;
    left: 5%;
    top: 0%;
    width: 3%;
    height: auto;
}
